extend layout

block content
    div(ng-controller="readingsController")
        input(type="datetime-local" ng-model="startDate")
        input(type="datetime-local" ng-model="endDate")

        button(ng-click="refresh()") refresh
            span(class="glyphicon glyphicon-leaf", aria-hidden="true")

        linechart(data="readings" options="airhumoptions" mode="" width="780" height="300")
        linechart(data="readings" options="moistlightoptions" mode="" width="780" height="300")